
/* Навигация */
.main-menu {
    display: flex;
    margin: 24px 215px 0px 215px;
    justify-content: center;
    width: 1600px;
 
}
.nav {
    display: flex;
  
}
.nav-menu {
    display: flex;
    margin-left: 93px;
    margin-right: 330px;
    
}
.nav-contact {
    display: flex;

}
.logo-text {
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
}
.font-color-blue {
    color: #2196F3 ;
}


.nav-margin {
    text-decoration: none;
    margin-right: 50px;
}
.contact-margin {
    margin-right:50px ;
    text-decoration: none;
}
.nav-link-studio,
.nav-link-contact,
.nav-link-portfolio,
.contact-margin {

    font-family: 'Roboto';
   
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color:black ;
}
.nav-link-studio {
    color:#2196F3 ;
}
.contact-margin-phone {
    text-decoration: none;
    color:#2196F3 ;
}
.contact-margin-mail {
    color:#757575;
    text-decoration: none;
}

/* Галерея */
.nav-gallery {
text-align: center;
display: flex;
}


.gallery-btn:hover {
    background: #2196F3;
}
/* Footer */
.footer {
    background-color:#2F303A ;
    width: 1600px;
}
.footer-info {
    padding: 60px 1154px 60px 215px;
    width: 2350px;

}
.footer-map-city {
    font-family: 'Roboto';
   
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-decoration: none;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
}
.footer-mail {
    font-family: 'Roboto';

font-weight: 400;
font-size: 14px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;

}
.footer-number {
    font-family: 'Roboto';
    
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}