
/* Навигация */
.main-menu {
    display: flex;
    margin: 24px 215px 0px 215px;
    width: 1600px;
     list-style: none;

}
.nav {
    display: flex;
   
}

.nav-menu {
    display: flex;
    margin-left: 93px;
    margin-right: 330px;
    list-style: none;
}
.nav-contact {
    display: flex;
    list-style: none;
}
.logo-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
}
.font-color-blue {
    color: #2196F3 ;
}
.nav-margin {
    margin-right: 50px;
}
.contact-margin {
    margin-right:50px ;
}
.nav-link-studio,
.nav-link-contact,
.nav-link-portfolio {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color:black ;
}
.nav-link-studio:hover,
.nav-link-contact:hover,
.nav-link-portfolio:hover {
    color: #2196F3;
}

.nav-contact{
    font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
}
.contact-margin-phone {
    text-decoration: none;
    color:#757575;
    
}
.contact-margin-phone:hover {
    color: #007be0;
}
.contact-margin-mail {
    color:#757575;
    text-decoration: none;
}
.contact-margin-mail:hover {
    color: #2196F3;
}

/* Галерея */
.nav-gallery {
display: flex;
list-style: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-align: center
}

.gallery-btn{
    background: #ffffff;
    border-radius: 4px;
    margin-right: 52px;
    padding: 6px 22px;
}
.gallery-btn:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Список фото */
.gallery-all {
    width: 1360px;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    
}
.gallery-info {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    height: 404px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.img-title {
    padding-bottom: 20px;
}
.img-headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: #212121;
    width: 322px;
    height: 36px;
    margin-bottom: 4px;
    }
.img-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  
    letter-spacing: 0.03em;
    color: #757575;
    width: 322px;
    height: 30px;

}

/* Footer */
.footer {
    background-color:#2F303A ;
    width: 1600px;
    

}
.footer-info {
    padding: 60px;
    
    
}
.footer-map-city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    
}
.footer-mail,
.footer-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
   
}